In [22]:
class Number2Word:
    numbers = ["iray", "roa", "telo", "efatra", "dimy", "enina", "fito", "valo", "sivy"]
    numbers_ten = ["folo", "roapolo", "telopolo", "efapolo", "dimampolo", "enimpolo", "fitopolo", "valopolo", "sivifolo"]
    numbers_hundred = [
        "zato", "roanjato", "telonjato", "efajato",
        "dimanjato", "eninjato", "fitonjato", "valonjato", "sivinjato"
    ]

    def __init__(self, number):
        self.number = number

    def split(self, number):
        results = []
        for i in range(0, 6):
            results.append(-1)
        digits = [int(a) for a in str(number)]
        i = 0
        for elt in reversed(digits):
            results[i] = elt
            i = i + 1
        return results

    def convert(self):
        results = self.split(self.number)
        isa, folo, zato, arivo, alina, hetsy = results[0], results[1], results[2], results[3], results[4], results[5]
        letter_isa = "" if (isa == -1 or isa == 0) else self.numbers[isa - 1]
        letter_folo = "" if (folo == -1 or folo == 0) else self.numbers_ten[folo - 1]
        if letter_isa == "":
            letters = letter_folo
        else:
            connector = " ambin'ny " if folo == 1 else " amby "
            if letter_folo != "":
                letters = f"{letter_isa}{connector}{letter_folo}"
            else:
                letters = f"{letter_isa}"
        letter_zato = "" if (zato == -1 or zato == 0) else self.numbers_hundred[zato - 1]
        if letter_zato != "":
            connector = "" if letters == "" else (" amby " if zato == 1 else " sy ")
            letters = f"{letters}{connector}{letter_zato}"
        letter_arivo = "" if (arivo == -1 or arivo == 0) else (
            "arivo" if arivo == 1 else f"{self.numbers[arivo - 1]} arivo")
        connector = "" if letter_arivo == "" else ("" if letters == "" else " sy ")
        letters = f"{letters}{connector}{letter_arivo}"
        letter_alina = "" if (alina == -1 or alina == 0) else f"{self.numbers[alina - 1]} alina"
        connector = "" if letter_alina == "" else ("" if letters == "" else " sy ")
        letters = f"{letters}{connector}{letter_alina}"
        letter_hetsy = "" if (hetsy == -1 or hetsy == 0) else f"{self.numbers[hetsy - 1]} hetsy"
        connector = "" if letter_hetsy == "" else ("" if letters == "" else " sy ")
        letters = f"{letters}{connector}{letter_hetsy}"
        # fix rules "iray ambin'ny folo" to "iraika ambin'ny folo"
        letters = letters.replace("iray ambin'ny folo", "iraik'ambin'ny folo")
        # fix rules "iray amby" to "iraika amby"          
        letters = letters.replace("iray amby", "iraik'ambin'ny")
        return letters

In [26]:
try:
    n_input = int(input("choose a number (<= 1 000 000): "))
except Exception as e:
    n_input = None
while n_input is None or n_input > 1_000_000 or n_input <= 0:
    try:
        n_input = int(input("choose a number (<= 1 000 000): "))
    except Exception as e:
        n_input = None
n = Number2Word(n_input)
letter = n.convert()
print(f"{n_input} to letter in Malagasy is: {letter}")

choose a number (<= 1 000 000): 1101
1101 to letter in Malagasy is: iraik'ambin'ny zato sy arivo

In [24]:
for number in range(1, 1112,110):
    n = Number2Word(number)
    letter = n.convert()
    print(f"{number} to letter in Malagasy is: {letter}")

1 to letter in Malagasy is: iray
111 to letter in Malagasy is: iraik'ambin'ny folo amby zato
221 to letter in Malagasy is: iraik'ambin'ny roapolo sy roanjato
331 to letter in Malagasy is: iraik'ambin'ny telopolo sy telonjato
441 to letter in Malagasy is: iraik'ambin'ny efapolo sy efajato
551 to letter in Malagasy is: iraik'ambin'ny dimampolo sy dimanjato
661 to letter in Malagasy is: iraik'ambin'ny enimpolo sy eninjato
771 to letter in Malagasy is: iraik'ambin'ny fitopolo sy fitonjato
881 to letter in Malagasy is: iraik'ambin'ny valopolo sy valonjato
991 to letter in Malagasy is: iraik'ambin'ny sivifolo sy sivinjato
1101 to letter in Malagasy is: iraik'ambin'ny zato sy arivo

In [48]:
import pandas as pd

# build a dataframe
df = pd.DataFrame(columns=["number", "word2number_malagasy"])

# print(df)

for number in range(1, 1000000):
    n = Number2Word(number)
    letter = n.convert()
    df_new_part = pd.DataFrame({"number":number, "word2number_malagasy":letter}, columns=["number", "word2number_malagasy"], index=[0])
#     print(df_new_part)
    df = pd.concat([df, df_new_part], ignore_index=True)
    

# df
# save the dataframe as a csv    
df.to_csv("malagasy_number_to_word.csv", sep='\t', encoding='utf-8')

In [47]:
!open .